{% extends "base.html" %}
{% block title %}Maths{% endblock %}
{% block content %}
<h2>Maths</h2>
<h3>Numbers</h3>
<ul>
    {% for num in numbers %}
    <li>{{ num }}</li>
    {% endfor %}
</ul>
<h3>Tables</h3>
{% for table in tables %}
<div>
    <h4>Table of {{ table.number }}</h4>
    <p>{{ table.content }}</p>
</div>
{% endfor %}
<h3>Roman Numerals</h3>
<ul>
    {% for r in roman %}
    <li>{{ r.number }} - {{ r.roman }}</li>
    {% endfor %}
</ul>
<h3>Pictures</h3>
<div class="photos">
    {% for pic in pictures %}
    <div>
        <p>Number {{ pic.number }}</p>
        <img src="{{ url_for('static', filename='images/' + pic.image) }}" alt="Number {{ pic.number }}" width="100">
    </div>
    {% endfor %}
</div>
<a href="{{ url_for('practice', subject='maths') }}">Try Practice</a>
{% endblock %}