{% extends "base.html" %}
{% block title %}Telugu{% endblock %}
{% block content %}
<h2>Telugu</h2>
<h3>Varnamala</h3>
<ul>
    {% for letter in varnamala %}
    <li>{{ letter }}</li>
    {% endfor %}
</ul>
<h3>Guninthalu</h3>
<ul>
    {% for g in guninthalu %}
    <li>{{ g }}</li>
    {% endfor %}
</ul>
<h3>Geyalu</h3>
{% for geya in geyalu %}
<div>
    <h4>{{ geya.title }}</h4>
    <p>{{ geya.content }}</p>
</div>
{% endfor %}
<h3>Photolu</h3>
<div class="photos">
    {% for photo in photolu %}
    <div>
        <p>{{ photo.letter }} - {{ photo.word }}</p>
        <img src="{{ url_for('static', filename='images/' + photo.image) }}" alt="{{ photo.word }}" width="100">
    </div>
    {% endfor %}
</div>
<a href="{{ url_for('practice', subject='telugu') }}">Try Practice</a>
{% endblock %}